/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
  }
  
  
  /*---------------------------------------------*/
  
  a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
    outline: none !important;
  }
  
  a:hover {
    text-decoration: none;
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
  }
  
  
  /*---------------------------------------------*/
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
  }
  
  p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
  }
  
  ul,
  li {
    margin: 0px;
    list-style-type: none;
  }
  
  
  /*---------------------------------------------*/
  
  input {
    outline: none;
    border: none;
  }
  
  textarea {
    outline: none;
    border: none;
  }
  
  textarea:focus,
  input:focus {
    border-color: transparent !important;
  }
  
  input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  
  input:focus:-moz-placeholder {
    color: transparent;
  }
  
  input:focus::-moz-placeholder {
    color: transparent;
  }
  
  input:focus:-ms-input-placeholder {
    color: transparent;
  }
  
  textarea:focus::-webkit-input-placeholder {
    color: transparent;
  }
  
  textarea:focus:-moz-placeholder {
    color: transparent;
  }
  
  textarea:focus::-moz-placeholder {
    color: transparent;
  }
  
  textarea:focus:-ms-input-placeholder {
    color: transparent;
  }
  
  input::-webkit-input-placeholder {
    color: #adadad;
  }
  
  input:-moz-placeholder {
    color: #adadad;
  }
  
  input::-moz-placeholder {
    color: #adadad;
  }
  
  input:-ms-input-placeholder {
    color: #adadad;
  }
  
  textarea::-webkit-input-placeholder {
    color: #adadad;
  }
  
  textarea:-moz-placeholder {
    color: #adadad;
  }
  
  textarea::-moz-placeholder {
    color: #adadad;
  }
  
  textarea:-ms-input-placeholder {
    color: #adadad;
  }
  
  
  /*---------------------------------------------*/
  
  button {
    outline: none !important;
    border: none;
    background: transparent;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  iframe {
    border: none !important;
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Utility ]*/
  
  .txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
  }
  
  .txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #333333;
    line-height: 1.5;
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ login ]*/
  
  .limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;
  }
  
  .wrap-login100 {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  
  /*------------------------------------------------------------------
  [ Form ]*/
  
  .login100-form {
    width: 100%;
  }
  
  .login100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
  }
  
  .login100-form-title i {
    font-size: 60px;
  }
  
  
  /*------------------------------------------------------------------
  [ Input ]*/
  
  .wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
  }
  
  .input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
  }
  
  
  /*---------------------------------------------*/
  
  .focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #6a7dfe;
    background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    background: -o-linear-gradient(left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(left, #21d4fd, #b721ff);
    background: linear-gradient(left, #21d4fd, #b721ff);
  }
  
  .focus-input100::after {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #999999;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input100:focus+.focus-input100::after {
    top: -15px;
  }
  
  .input100:focus+.focus-input100::before {
    width: 100%;
  }
  
  .has-val.input100+.focus-input100::after {
    top: -15px;
  }
  
  .has-val.input100+.focus-input100::before {
    width: 100%;
  }
  
  
  /*---------------------------------------------*/
  
  .btn-show-pass {
    font-size: 15px;
    color: #999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .btn-show-pass:hover {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #ffffff);
    color: -o-linear-gradient(left, #21d4fd, #ffffff);
    color: -moz-linear-gradient(left, #21d4fd, #ffffff);
    color: linear-gradient(left, #21d4fd, #ffffff);
  }
  
  .btn-show-pass.active {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #ffffff);
    color: -o-linear-gradient(left, #21d4fd, #ffffff);
    color: -moz-linear-gradient(left, #21d4fd, #ffffff);
    color: linear-gradient(left, #21d4fd, #ffffff);
  }
  
  
  /*------------------------------------------------------------------
  [ Button ]*/
  
  .container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
  }
  
  .wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #21d4fd, #ffffff, #21d4fd, #ffffff);
    background: -o-linear-gradient(right, #21d4fd, #ffffff, #21d4fd, #ffffff);
    background: -moz-linear-gradient(right, #21d4fd, #ffffff, #21d4fd, #ffffff);
    background: linear-gradient(right, #21d4fd, #ffffff, #21d4fd, #ffffff);
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
  }
  
  .wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
  }
  
  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  @media (max-width: 576px) {
    .wrap-login100 {
        padding: 77px 15px 33px 15px;
    }
  }
  
  
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  .validate-input {
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;
    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    font-size: 16px;
    color: #c80000;
    display: block;
    position: absolute;
    background-color: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
  }
  
  
  /* [Topbar] */
  
  .topbar {
    width: 100%;
    height: 7%;
    background-color: black;
    z-index: -1;
  }
  
  
  /* [Sidebar] */
  
  .sidebar {
    height: 95%;
    width: 10%;
    position: fixed;
    z-index: -1;
    margin-top: 0;
    left: 0;
    background-color: #2d2e2e;
    overflow: auto;
    font-family: Poppins-Regular;
  }
  
  .sidebar a.active {
    background-color: #188aa3;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #188aa3;
    color: white;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
  }
  
  
  /* [Content] */
  
  div.content {
    margin-left: 10%;
    padding: 2% 2%;
    height: 100%;
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 10px;
  }
  
  
  /* [Planning] */
  
  div.planning {
    background: #c4c1c1;
    padding: 1% 1%;
    height: auto;
    border-radius: 10px;
  }
  
  
  /* [Agenda] */
  
  div.agenda {
    background: #c4c1c1;
    padding: 1% 1%;
    height: auto;
    margin-top: 2%;
    width: 49%;
    float: left;
    border-radius: 10px;
  }
  
  
  /* [Contact] */
  
  div.contact {
    background: #c4c1c1;
    padding: 1% 1%;
    height: 35%;
    margin-left: 0px;
    margin-top: 2%;
    width: 49%;
    float: right;
    border-radius: 10px;
  }
  
  div.header-info * {
    color: #ffffff;
    padding: 10px 10px 0px;
  }
  
  
  /*** Table Styles **/
  
  .table-fill {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    height: auto;
    margin: auto;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(240, 231, 231, 0.1);
    animation: float 5s infinite;
  }
  
  th {
    color: black;
    background: #e9ecef;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #9ea7af;
    font-size: 17px;
    font-weight: 100;
    padding: 12px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
  }
  
  th:first-child {
    border-top-left-radius: 3px;
  }
  
  th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
  }
  
  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 13px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
  
  tr:first-child {
    border-top: none;
  }
  
  tr:last-child {
    border-bottom: none;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
  }
  
  tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
  }
  
  td {
    background: #FFFFFF;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  }
  
  td:last-child {
    border-right: 0px;
  }
  
  th.text-left {
    text-align: left;
  }
  
  th.text-center {
    text-align: center;
  }
  
  th.text-right {
    text-align: right;
  }
  
  td.text-left {
    text-align: left;
  }
  
  td.text-center {
    text-align: center;
  }
  
  td.text-right {
    text-align: right;
  }
  
  @media screen and (max-width: 900px) {
    div.contact {
        float: none;
        position: relative;
    }
  }